body {
  background-color: cadetblue;
}

#heading {
  font-family: Calibri;
  margin: 25px;
  text-align: center;
}

.calculator {
  border: 1px solid;
  background-color: bisque;
  width: 330px;
  padding: 5px;
  margin: auto;
}
.display {
  height: 45px;
  background-color: black;
  color: white;
  padding: 5px;
  padding-top: 10px;
  font-size: 35px;
  text-align: right;
  /* maxlength:"10" */
}
.buttons-container {
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
.buttons-container button {
  padding: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
}
.buttons-container button:nth-child(8) {
  grid-area: 2/4/6/5;
}
.br {
  border-radius: 5px;
  border: none;
}
.bgc1 {
  background-color: rgb(119, 118, 118);
  color: white;
}
.bgc2 {
  background-color: rgb(201, 199, 199);
}
.bgc3 {
  background-color: rgb(45, 180, 45);
  color: white;
}
.bgc4 {
  background-color: rgb(231, 3, 3);
  color: white;
}
